:root{
    --green:#396;
    --darkblue:#334;
    
}

*,::after,::before{
    box-sizing: border-box;
    
}
body{
    margin: 0;
    background-image: url('../img/backgroundGreen.png');
    background-position-y:-10em ;
    color: #fff;
}
img{
    max-width: 100%;;
}
.title-main{
    font-family: 'Rubik Maze', cursive;
    font-size: 2rem;
    margin: 1em 0;
    color: var(--green);
}
.title-main::before{
    content: '</ ';
}
.title-main::after{
    content: ' >';
}
.title-main,.text-encryptor{
    text-align: center;
}
.text-encryptor{
    width: 90%;
    margin: 0 auto;
}
.form-text-encryptor__text,.output-zone__text{
    resize: none;
    border: none;
    outline: none;
    background-color: #2229;
    color: var(--green);
}
.form-text-encryptor__text{
    font-size: 1.8rem;
}
.form-text-encryptor__text:focus{
    border-bottom: .2em var(--green) solid;

}
.form-text-encryptor__text::placeholder{
    font-size: 1.8rem;
}
.form-text-encryptor__text,
.button--encrypt,
.button--copy,
.button--decrypt{
    width: 100%;
}

/* buttons */
.button{
    border: none;
    padding: 1em 0;
    border-radius: 15px;
    font-size: 1em;
    transition: .5s all;
    cursor: pointer;
    font-weight: bold;
}
.button:hover{
    filter: brightness(.9);
}
.button:active{
    transform:scale(.9);
}
.button--encrypt,.button--decrypt{
    margin: .5em 0;
}
.button--encrypt{
    background-color: var(--green);
    color: #fff;
}
.button--decrypt,.button--copy{
    background-color: var(--darkblue);
    color: #fff;
}

/*------------------*/
.output-zone{
    margin: 1em 0;
    border-radius: 10px;
    box-shadow: 0 0 1em   #aaa;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.output-zone__contanierimage{
    display: none;
}
.output-zone__warning{
    font-size: 2rem;
}
.output-zone__message{
    color: #999;
}
.output-zone__text{
    font-size: 1.5rem;
    width: 100%;
}

/*extras classes*/
.hide{
    display: none !important; /*to try of replace*/
}
.show{
    display: inline;
}

/*footer*/
.footer{
    margin: 1.5em;
}
.footer__copyrigth{
    margin: 0 auto;
    text-align: center;
}

/*768*/
@media screen and (min-width:768px) {
    .form-text-encryptor__warning{
        text-align: left;
    }
    .form-text-encryptor__field:last-child{
        display: flex;
        justify-content: space-between;
    }
    .form-text-encryptor__field .button{
        width: 45%;
    }
}
/*1024*/
@media screen and (min-width:1024px) {
    .title-main{
        font-size: 3rem;
        margin: .5em 0 0 0;
    }
    .form-text-encryptor__text,.output-zone__text{
        height: 65vh;
    }
    .output-zone__description{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .output-zone__contanierimage{
        display: inline;
    }
    .text-encryptor{
        display: flex;
        justify-content: space-between;
    }
    .text-encryptor__item{
        height: 85vh;
    }
    .input-zone{
        width: 55%;
        margin-left: 10%;
    }
    .output-zone{
        width: 30%;
        margin: 0;
    }

}