*,::after,::before{
    box-sizing: border-box;
    
}
body{
    margin: 0;;
}
img{
    max-width: 100%;;
}
.title,.text-encryptor{
    text-align: center;
}
.text-encryptor{
    width: 90%;
    margin: 0 auto;
}
/* .form-text-encryptor{

}

.form-text-encryptor__field{
    
} */
.form-text-encryptor__text{
    resize: none;
    font-size: 1.8rem;
}
.form-text-encryptor__text::placeholder{
    font-size: 1.8rem;
}
.form-text-encryptor__text,
.button--encrypt,
.button--copy,
.button--decrypt{
    width: 100%;
}

/* buttons */
.button{
    border: none;
    padding: 1em 0;
    border-radius: 15px;
    font-size: 1em;
    transition: .5s all;
    cursor: pointer;
}
.button:hover{
    filter: brightness(.9);
}
.button:active{
    transform:scale(.9);
}
.button--encrypt,.button--decrypt{
    margin: .5em 0;
}
.button--encrypt{
    background-color: #47d;
    color: #fff;
}
.button--decrypt,.button--copy{
    border: 1px #aaa solid;
    background-color: #fff;
}
.button--copy{
    display: none;
}
.button--shown{
    display: inline;
}
/*------------------*/




.output-zone{
    margin: 1em 0;
    border-radius: 10px;
    box-shadow: 0 0 1em   #aaa;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.output-zone__description--hide{
    display: none !important; /*ton try of replace*/
}

.output-zone__contanierimage{
    display: none;
}
.output-zone__warning{
    font-size: 2rem;
}
.output-zone__message{
    color: #999;
}


/*768*/
@media screen and (min-width:768px) {
    .form-text-encryptor__warning{
        text-align: left;
    }
    .form-text-encryptor__field:last-child{
        display: flex;
        justify-content: space-between;
    }
    .form-text-encryptor__field .button{
        width: 45%;
    }
}
/*1024*/
@media screen and (min-width:1024px) {
    .form-text-encryptor__text{
        height: 65vh;
    }
    .output-zone__description{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .output-zone__contanierimage{
        display: inline;
    }
    .text-encryptor{
        display: flex;
        justify-content: space-between;
    }
    .text-encryptor__item{
        height: 85vh;
        
    }
    .input-zone{
        width: 55%;
        margin-left: 10%;
    }
    .output-zone{
        width: 30%;
        margin: 0;
    }
    
}